<form method="post" action="/guardarPost">
	<div>
	     <label for="nombres" class="rem">Nombres:</label>
    </div>

    <input type="text" name="nombre" id="nombre" placeholder="ingrese nombre">
    <div>
	    <label for="post" class="rem">Entrada:</label>
	    
    </div>
    <input type="text" name="entrada" id="entrada" placeholder="ingrese su post">
    <div>
    	<input type="submit" name="envio" value="Registrar Post">
     </div> 
</form>
